:root,
[data-theme="default"] {
	--app-background: #4788d8;
	--app-text-color: #FFF;
	--app-foreground: #f5f5f5;
	--form-input-background: #eee;
	--button-background: #9c88ff;
	--text-danger-color: #ff6961;
	--text-inverse-color: #fff;
	--nav-text-color: #fff;
	--nav-dropdown-text-color: #333;
}

[data-theme="dark"] {
	--app-background: #121212;
	--app-text-color: #FFF;
	--app-foreground: #242424;
	--form-input-background: #363636;
	--button-background: #9c88ff;
	--text-danger-color: #ff6961;
	--text-inverse-color: #333;
	--nav-text-color: #fff;
	--nav-dropdown-text-color: #fff;
}
