:root,
[data-theme="default"] {
	--app-background: #4788d8;
	--app-text-color: #333;
	--box-background: #f5f5f5;
	--form-input-background: #eee;
	--button-background: #b19cd9;
	--text-danger-color: #ff6961;
	--text-inverse-color: #fff;
	--nav-text-color: #fff;
}
