[class*="col--"] {
  min-height: 1px;
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 550px) {
  [class*="col--"] {
    margin-left: 2%;

    &:first-child {
      margin-left: 0;
    }
  }
  .col--1 {
    width: 6.5%;
  }
  .col--2 {
    width: 15%;
  }
  .col--3 {
    width: 23.5%;
  }
  .col--4 {
    width: 32%;
  }
  .col--5 {
    width: 40.5%;
  }
  .col--6 {
    width: 49%;
  }
  .col--7 {
    width: 57.5%;
  }
  .col--8 {
    width: 66%;
  }
  .col--9 {
    width: 74.5%;
  }
  .col--10 {
    width: 83%;
  }
  .col--11 {
    width: 91.5%;
  }
  .col--12 {
    width: 100%;
    margin-left: 0;
  }
  .col--2:nth-of-type(6n + 1),
  .col--3:nth-of-type(4n + 1),
  .col--4:nth-of-type(3n + 1),
  .col--6:nth-of-type(2n + 1) {
    margin-left: 0;
    clear: both;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// TODO fix breakpoints to container
//@media (min-width: map-get($breakpoints, "small")) {
//	.root {
//		width: 95%;
//		padding: 0;
//	}
//}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}