@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	position: relative;
}

body {
	font-family: $default-font;
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	line-height: 1.6;
	font-size: 16px;
	transition: background-color 0.3s linear;
}

#app {
	display: flex;
	flex-direction: column;
}

html,
body {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: 400;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

hr {
	margin: 16px 0;
	border-top: 2px solid rgba(0, 0, 0, 1);
	opacity: 0.06;
}
