h1 {
	font-family: var(--kt-headline-font);
	font-weight: 300;
	font-size: 123px;
	letter-spacing: -1.5px;
}

h2 {
	font-family: var(--kt-headline-font);
	font-weight: 300;
	font-size: 77px;
	letter-spacing: -0.5px;
}

h3 {
	font-family: var(--kt-headline-font);
	font-weight: 400;
	font-size: 61px;
	letter-spacing: 0;
}

h4 {
	font-family: var(--kt-headline-font);
	font-weight: 400;
	font-size: 43px;
	letter-spacing: 0.25px;
}

h5 {
	font-family: var(--kt-headline-font);
	font-weight: 500;
	font-size: 31px;
	letter-spacing: 0;
}

h6 {
	font-family: var(--kt-headline-font);
	font-weight: 500;
	font-size: 26px;
	letter-spacing: 0.15px;
}
