$base-padding: 1.2rem;
$shadow: 1.5px;

.alert {
	background-color: var(--kt-background-surface-high);
	border: 1px solid var(--kt-border-medium);
	border-radius: 8px;
	display: flex;
}

.alert__title {
	font-size: 14px;
	font-weight: 600;
	padding-top: 1.2rem;
	padding-right: $base-padding;
	user-select: none;
	font-family: var(--kt-headline-font);
}

.alert__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.alert__icon {
	padding: $base-padding $base-padding 0 $base-padding;
}

.alert__icon__svg :deep(svg) {
	width: 20px !important;
	height: 20px;
	vertical-align: baseline;
}

.alert__description {
	font-size: 14px;
	font-weight: 400;
	padding: $base-padding $base-padding $base-padding 0;
	user-select: none;
	color: var(--kt-content-neutral-high);
}

.alert__title + .alert__description {
	padding: 0.8rem 0 $base-padding;
}

.alert--error {
	background-color: var(--kt-content-negative-overlay);
	border-color: var(--kt-content-negative-overlay);

	.alert__icon {
		color: var(--kt-content-negative);
	}
}

.alert--warn {
	background-color: var(--kt-content-warn-overlay);
	border-color: var(--kt-content-warn-overlay);

	.alert__icon {
		color: var(--kt-content-warn);
	}
}

.alert--info {
	background-color: var(--kt-content-primary-overlay);
	border-color: var(--kt-content-primary-overlay);

	.alert__icon {
		color: var(--kt-content-primary);
	}
}
