.v--box {
	position: relative;
	padding: 24px;
	background-color: var(--app-foreground);
	box-shadow: rgba(0, 0, 0, 0.12) 0 0 10px 5px;
	border-radius: 4px;

	&.v--box-no-shadow {
		box-shadow: none;
	}

	&.v--box-sized {
		min-width: 38%;
		max-width: 80%;
	}

	.v--box-header {
		position: relative;
		margin-bottom: 6px;

		h1,
		h2,
		h3,
		h4 {
			margin-bottom: 24px;
		}

		p {
			margin-top: -18px;
			margin-bottom: 24px;
		}
	}

	.v--box-body {
		position: relative;
	}
}
