.v--button {
	text-decoration: none;
	opacity: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 14px;
	border-radius: 4px;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	font-family: $default-font;
	height: 36px;
	line-height: 32px;
	vertical-align: middle;
	background-color: var(--primary-color);
	border: var(--primary-color);
	color: #fff;
	min-width: 72px;
	user-select: none;
	position: relative;
	padding: 0 16px;

	.v--loader-spinner {
		box-shadow: 0 2px 0 0 #fff !important;
	}

	&:hover:not(:disabled) {
		cursor: pointer;
	}

	&:disabled {
		opacity: 0.54;
	}
}
