.v--form {
	.v--input-group {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		&:not(:last-child) {
			margin-bottom: 24px;
		}

		.v--input {
			display: flex;
			appearance: none;
			-webkit-appearance: none;
			outline: none;
			box-shadow: none;
			background-color: var(--form-input-background);
			border: 2px solid transparent;
			border-radius: 4px;
			padding: 8px;
			color: inherit;

			&[type="number"]::-webkit-inner-spin-button,
			&[type="number"]::-webkit-outer-spin-button {
				-webkit-appearance: none;
			}

			+ small {
				font-weight: 500;
				margin-top: 4px;
			}
		}
	}

	.v--label {
		color: map-get($colors, "label");
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 2px;
	}
}
