:root {
  --kt-background-body: #f2f4f7;
  --kt-background-surface: #fff;
  --kt-background-surface-overlay: rgba(0, 0, 0, 0.1);
  --kt-background-surface-hover: #f5f5f5;
  --kt-background-surface-high: #f9f9f9;
  --kt-content-primary: rgb(75, 123, 236);
  --kt-content-primary-overlay: rgba(75, 123, 236, 0.1);
  --kt-content-primary-hover: #2c64e9;
  --kt-content-primary-oncolor: #fff;
  --kt-content-primary-oncolor-overlay: rgba(255, 255, 255, 0.1);
  --kt-content-success: rgb(24, 189, 148);
  --kt-content-negative: rgb(252, 92, 101);
  --kt-content-negative-overlay: rgba(252, 92, 101, 0.1);
  --kt-content-negative-hover: #ee0412;
  --kt-content-warn: #f38428;
  --kt-content-warn-overlay: #f384281a;
  --kt-content-warn-hover: #ee0412;
  --kt-content-neutral: #767f8d;
  --kt-content-neutral-low: #a6aeba;
  --kt-content-neutral-high: #303742;
}
